<nav class="sheet-navigation tabs" data-group="links" data-tabs-type="list">
  <select class="tabs">
    {{#each links.list as |link|}}
    <option value="{{link.id}}" data-tab="{{link.id}}">{{link.label}}</option>
    {{/each}}
  </select>
</nav>

<div class="links-body">

  {{#each links.list as |link|}}
  {{!-- Children Tab --}}
  <div class="tab flexcol" data-group="links" data-tab="{{link.id}}">
    {{!-- Info --}}
    <i class="help-icon fas fa-info-circle" title="{{link.help}}"></i>

    <table>
      <tr>
        <th>{{localize "PF1.Item"}}</th>
        <th class="links-controls"></th>
      </tr>
      {{#each link.items as |item|}}
      <tr class="links-item" data-link={{item.id}}>
        {{!-- Link name and image --}}
        <td class="links-item-name">
          <div>
            <img src="{{item.img}}" width="24" height="24">
            <span>{{item.name}}</span>
          </div>
        </td>

        {{!-- Link Controls --}}
        <td class="links-controls">
          <div>
            {{#if ../../owner}}
            <a class="link-control delete-link" title="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
            {{/if}}
          </div>
        </td>
      </tr>
      {{/each}}
    </table>
  </div>
  {{/each}}
</div>
