<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

    <div class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "PF1.ItemName"}}"/>
      </h1>

      <div class="item-subtitle">
        <h4 class="item-type">{{itemType}}</h4>
        <span class="item-status">{{itemStatus}}</span>
      </div>

      <ul class="summary">
        <li>
          {{lookup config.classTypes data.classType}}
        </li>
        <li class="tooltip">
          <span class="tooltipcontent">@classes.{{item.data.tag}}.level : {{data.level}}</span>
          <input type="text" name="data.level" value="{{data.level}}" placeholder="{{localize "PF1.Level"}}" data-dtype="Number"/>
        </li>
      </ul>
    </div>
  </header>

  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="description">{{ localize "PF1.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "PF1.Details" }}</a>
    <a class="item" data-tab="changes">{{localize "PF1.Changes"}}</a>
    <a class="item" data-tab="links">{{localize "PF1.Links"}}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">

    {{!-- Description Tab --}}
    <div class="tab flexcol active" data-group="primary" data-tab="description">
      {{roll-editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
    </div>

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">

      {{!-- Class Type --}}
      <div class="form-group">
        <label>{{localize "PF1.ClassType"}}</label>
        <select name="data.classType">
          {{#select data.classType}}
          {{#each config.classTypes as |name type|}}
          <option value="{{type}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- HD --}}
      <div class="form-group">
        <label>{{localize "PF1.HitDie"}}</label>
        <input type="text" name="data.hd" value="{{data.hd}}" data-dtype="Number" />
      </div>

      {{!-- Hit Points --}}
      {{#unless healthConfig.auto}}
      <div class="form-group">
        <label>{{localize "PF1.HitPoints"}}</label>
        <input type="text" name="data.hp" value="{{data.hp}}" data-dtype="Number" />
      </div>
      {{/unless}}

      {{!-- BAB --}}
      <div class="form-group">
        <label>{{localize "PF1.BABAbbr"}}</label>
        <select name="data.bab">
          {{#select data.bab}}
          <option value="">{{localize "PF1.None"}}</option>
          {{#each config.classBAB as |name value|}}
          <option value="{{value}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Skills/Level --}}
      <div class="form-group">
        <label>{{localize "PF1.SkillsPerLevel"}}</label>
        <input type="text" name="data.skillsPerLevel" value="{{data.skillsPerLevel}}" data-dtype="Number" />
      </div>

      <h4 class="form-header">{{localize "PF1.SavingThrowPlural"}}</h4>

      {{!-- Saving Throws --}}
      {{#each data.savingThrows as |savingThrow id|}}
      <div class="form-group">
        <label>{{savingThrow.label}}</label>
        <select name="data.savingThrows.{{id}}.value">
          {{#select savingThrow.value}}
          <option value="">{{localize "PF1.None"}}</option>
          {{#each ../config.classSavingThrows as |name value|}}
          <option value="{{value}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      {{/each}}

      {{#if isBaseClass}}
      <h4 class="form-header">{{localize "PF1.FavouredClassBonuses"}}</h4>

      {{!-- Favoured Class Bonuses --}}
      {{#each data.fc as |fc id|}}
      <div class="form-group">
        <label>{{fc.label}}</label>
        <input type="text" name="data.fc.{{id}}.value" value="{{fc.value}}" data-dtype="Number" />
      </div>
      {{/each}}
      {{/if}}

      <h4 class="form-header">{{localize "PF1.ClassSkills"}}</h4>

      <div class="form-group">
        <ol class="item-list">
        {{#each skills as |skill key|}}
        <li class="item flexrow" data-skill="{{key}}">
          <label class="checkbox skill-cs">
            <input type="checkbox" name="data.classSkills.{{key}}" {{checked skill.classSkill}} />
          </label>
          <h4>{{skill.name}}</h4>
        </li>
        {{/each}}
        </ol>
      </div>
    </div>

    <div class="tab flexcol" data-group="primary" data-tab="changes">
      {{> "systems/pf1/templates/items/parts/item-changes.html"}}

      {{> "systems/pf1/templates/items/parts/item-notes.html"}}
    </div>

    <div class="tab flexcol" data-group="primary" data-tab="links">
      {{> "systems/pf1/templates/items/parts/item-links.html"}}
    </div>
  </section>
</form>
