<div class="flexrow details-header">
  <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
  
  <div class="flexcol">
    <div class="flexrow name-xp">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "PF1.CharacterName"}}" title="{{localize "PF1.CharacterName"}}"/>
      </h1>
      
      {{#if isCharacter}}
      <div class="hd-level">
        <div class="charlevel">
          <div class="level {{#if disableExperience}}noxp{{/if}} tooltip">
            <span class="tooltipcontent">
              @attributes.hd.total : {{data.attributes.hd.total}}
            </span>
            {{localize "PF1.Level"}} {{data.details.level.value}}
          </div>
          {{#unless disableExperience}}
          <div class="experience">
            <input class="select-on-click" name="data.details.xp.value" type="text" value="{{data.details.xp.value}}"
            placeholder="0"/>
            <span class="max"> / {{data.details.xp.max}}</span>
          </div>
          <div class="xpbar">
            <span class="bar" style="width: {{data.details.xp.pct}}%"></span>
          </div>
          {{/unless}}
        </div>
      </div>
      {{else}}
      <div class="hd-level tooltip flexcol">
        <span class="tooltipcontent">
          @attributes.hd.total : {{data.attributes.hd.total}}
        </span>
        <div class="hd flexrow">
          <label>HD</label>
          <input disabled type="text" value="{{data.attributes.hd.total}}" placeholder="1" data-dtype="Number" />
        </div>
        
        <div class="charlevel tooltip">
          <div class="tooltipcontent">
            @details.cr.base : {{data.details.cr.base}}<br/>
            @details.cr.total : {{data.details.cr.total}}
          </div>
          <div class="level config">
            <a class="config-icon config-control" for="cr"><i class="fas fa-cog"></i></a>
            <label>CR</label>
            <input disabled for="data.details.cr" type="text" value="{{labels.cr}}" placeholder="1"/>
          </div>
          <div class="experience">
            <span>{{data.details.xp.value}} XP</span>
          </div>
        </div>
      </div>
      {{/if}}
    </div>
    
    {{!-- Character Summary --}}
    <div class="summary flexrow">
      <div>
        <input type="text" name="data.details.gender" value="{{data.details.gender}}" placeholder="{{localize "PF1.Gender"}}" title="{{localize "PF1.Gender"}}"/>
      </div>
      <div>
        <input type="text" name="data.details.deity" value="{{data.details.deity}}" placeholder="{{localize "PF1.Deity"}}" title="{{localize "PF1.Deity"}}"/>
      </div>
      <div>
        <input type="text" name="data.details.age" value="{{data.details.age}}" placeholder="{{localize "PF1.Age"}}" title="{{localize "PF1.Age"}}"/>
      </div>
      <div>
        <input type="text" name="data.details.height" value="{{data.details.height}}" placeholder="{{localize "PF1.Height"}}" title="{{localize "PF1.Height"}}"/>
      </div>
      <div>
        <input type="text" name="data.details.weight" value="{{data.details.weight}}" placeholder="{{localize "PF1.Weight"}}" title="{{localize "PF1.Weight"}}"/>
      </div>
      
      {{!-- Alignment --}}
      <div class="controls alignment flexrow">
        {{#if labels.alignment}}<span>{{labels.alignment}}</span>{{else}}<span class="placeholder">{{localize "PF1.Alignment"}}</span>{{/if}}
        <a class="control alignment"><i class="fas fa-cog"></i></a>
      </div>
    </div>
    
    <div class="flexrow">
      <div class="race-container item flexrow" {{#if race}}data-item-id="{{race._id}}"{{/if}} title="{{localize "PF1.Race"}}">
        <div class="race item-image rollable" style="background-image: url({{race.img}})" title="{{labels.race}}">
          {{#unless race}}{{localize "PF1.Race"}}{{/unless}}
        </div>
        
        <div class="item-controls flexcol">
          {{#if owner}}
          {{#unless race}}
          <a class="item-control add" title="{{localize "PF1.CreateItem"}}"><i class="fas fa-plus"></i></a>
          {{/unless}}
          {{#if race}}
          <a class="item-control edit" title="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
          <a class="item-control delete" title="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
          {{/if}}
          {{/if}}
        </div>
      </div>
      
      {{!-- Hit Point Ability --}}
      <div class="form-group select hp-ability">
        <label>{{localize "PF1.HPAbility"}}</label>
        <select name="data.attributes.hpAbility">
          {{#select data.attributes.hpAbility}}
          <option value=""></option>
          {{#each config.abilities as |ability a|}}
          <option value="{{a}}">{{ability}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
    </div>
  </div>
</div>

<div class="flexrow item-list misc-header-items">
  
  {{!-- Rest --}}
  <div class="actor-quick-actions">
    <button type="button" class="rest">{{localize "PF1.Rest"}}</button>
  </div>
</div>

{{!-- Header Attributes --}}
<ul class="attributes flexrow">
  <li class="attribute health">
    {{#if healthConfig.variants.pc.useWoundsAndVigor}}
    <h4 class="attribute-name box-title tooltip">
      {{ localize "PF1.Vigor" }}
      <div class="tooltipcontent">
        @attributes.vigor.min : {{data.attributes.vigor.min}}<br/>
        @attributes.vigor.value : {{data.attributes.vigor.value}}<br/>
        @attributes.vigor.max : {{data.attributes.vigor.max}}<br/>
        @attributes.vigor.temp : {{data.attributes.vigor.temp}}
        
        {{#if sourceDetails.data.attributes.vigor.max.length}}
        <br/><br/>{{localize "PF1.FromSources"}}:<br/>
        {{#each sourceDetails.data.attributes.vigor.max as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
        {{/if}}
      </div>
    </h4>
    <div class="attribute-value multiple">
      <input class="select-on-click" name="data.attributes.vigor.value" type="text" value="{{data.attributes.vigor.value}}" data-dtype="Number" placeholder="0"/>
      <span class="sep"> / </span>
      <div class="attribute">{{data.attributes.vigor.max}}</div>
    </div>
    <footer class="attribute-footer">
      <input name="data.attributes.vigor.temp" type="text" class="temphp select-on-click" placeholder="{{localize 'PF1.Temporary'}}" value="{{#if data.attributes.vigor.temp}}{{data.attributes.vigor.temp}}{{/if}}" data-dtype="Number"/>
    </footer>
    
    <h4 class="attribute-name box-title tooltip">
      {{ localize "PF1.Wounds" }}
      <div class="tooltipcontent">
        @attributes.wounds.min : {{data.attributes.wounds.min}}<br/>
        @attributes.wounds.value : {{data.attributes.wounds.value}}<br/>
        @attributes.wounds.max : {{data.attributes.wounds.max}}<br/>
        
        {{#if sourceDetails.data.attributes.wounds.max.length}}
        <br/><br/>{{localize "PF1.FromSources"}}:<br/>
        {{#each sourceDetails.data.attributes.wounds.max as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
        {{/if}}
      </div>
    </h4>
    <div class="attribute-value multiple">
      <input class="select-on-click" name="data.attributes.wounds.value" type="text" value="{{data.attributes.wounds.value}}" data-dtype="Number" placeholder="0"/>
      <span class="sep"> / </span>
      <div class="attribute">{{data.attributes.wounds.max}}</div>
    </div>
    {{else}}
    <h4 class="attribute-name box-title tooltip">
      {{ localize "PF1.Health" }}
      <div class="tooltipcontent">
        @attributes.hp.value : {{data.attributes.hp.value}}<br/>
        @attributes.hp.max : {{data.attributes.hp.max}}<br/>
        @attributes.hp.temp : {{data.attributes.hp.temp}}<br/>
        @attributes.hp.nonlethal : {{data.attributes.hp.nonlethal}}
        
        {{#if sourceDetails.data.attributes.hp.max.length}}
        <br/><br/>{{localize "PF1.FromSources"}}:<br/>
        {{#each sourceDetails.data.attributes.hp.max as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
        {{/if}}
      </div>
    </h4>
    <div class="attribute-value multiple">
      <input class="select-on-click" name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}" data-dtype="Number" placeholder="10"/>
      <span class="sep"> / </span>
      <div class="attribute">{{data.attributes.hp.max}}</div>
    </div>
    <footer class="attribute-footer">
      <input name="data.attributes.hp.temp" type="text" class="temphp select-on-click" placeholder="+{{localize 'PF1.TempShort'}}"
      value="{{#if data.attributes.hp.temp}}{{data.attributes.hp.temp}}{{/if}}" data-dtype="Number" title="{{localize "PF1.TempHP"}}"/>
      <input name="data.attributes.hp.nonlethal" type="text" class="temphp select-on-click" placeholder="{{localize 'PF1.Nonlethal'}}"
      value="{{#if data.attributes.hp.nonlethal}}{{data.attributes.hp.nonlethal}}{{/if}}" data-dtype="Number" title="{{localize "PF1.Nonlethal"}}"/>
    </footer>
    {{/if}}
  </li>
  
  <li class="attribute speed">
    <div class="attribute-speed">
      <h4 class="attribute-name box-title">{{ localize "PF1.SpeedLand" }}</h4>
      <div class="attribute-value">
        <div class="attribute">{{#if data.attributes.speed.land.total}}{{labels.speed.land}}{{/if}}</div>
      </div>
      <footer class="attribute-footer">
        <input class="select-on-click" name="data.attributes.speed.land.base" type="text"
        value="{{#if data.attributes.speed.land.base}}{{data.attributes.speed.land.base}}{{/if}}"
        data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
      </footer>
    </div>
    <div class="attribute-speed">
      <h4 class="attribute-name box-title">{{ localize "PF1.SpeedClimb" }}</h4>
      <div class="attribute-value">
        <div class="attribute">{{#if data.attributes.speed.climb.total}}{{labels.speed.climb}}{{/if}}</div>
      </div>
      <footer class="attribute-footer">
        <input class="select-on-click" name="data.attributes.speed.climb.base" type="text"
        value="{{#if data.attributes.speed.climb.base}}{{data.attributes.speed.climb.base}}{{/if}}"
        data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
      </footer>
    </div>
    <div class="attribute-speed">
      <h4 class="attribute-name box-title">{{ localize "PF1.SpeedSwim" }}</h4>
      <div class="attribute-value">
        <div class="attribute">{{#if data.attributes.speed.swim.total}}{{labels.speed.swim}}{{/if}}</div>
      </div>
      <footer class="attribute-footer">
        <input class="select-on-click" name="data.attributes.speed.swim.base" type="text"
        value="{{#if data.attributes.speed.swim.base}}{{data.attributes.speed.swim.base}}{{/if}}"
        data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
      </footer>
    </div>
    <div class="attribute-speed">
      <h4 class="attribute-name box-title">{{ localize "PF1.SpeedBurrow" }}</h4>
      <div class="attribute-value">
        <div class="attribute">{{#if data.attributes.speed.burrow.total}}{{labels.speed.burrow}}{{/if}}</div>
      </div>
      <footer class="attribute-footer">
        <input class="select-on-click" name="data.attributes.speed.burrow.base" type="text"
        value="{{#if data.attributes.speed.burrow.base}}{{data.attributes.speed.burrow.base}}{{/if}}"
        data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
      </footer>
    </div>
    <div class="attribute-speed">
      <h4 class="attribute-name box-title">{{ localize "PF1.SpeedFly" }}</h4>
      <div class="attribute-value">
        <div class="attribute">{{#if data.attributes.speed.fly.total}}{{labels.speed.fly}}{{/if}}</div>
      </div>
      <footer class="attribute-footer">
        <input class="select-on-click" name="data.attributes.speed.fly.base" type="text"
        value="{{#if data.attributes.speed.fly.base}}{{data.attributes.speed.fly.base}}{{/if}}"
        data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
      </footer>
    </div>
    <div class="attribute-speed">
      <h4 class="attribute-name box-title">{{ localize "PF1.FlyManeuverabilityShort" }}</h4>
      <select name="data.attributes.speed.fly.maneuverability">
        {{#select data.attributes.speed.fly.maneuverability}}
        {{#each config.flyManeuverabilities as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>
  </li>
</ul>

{{!-- Footer Navigation --}}
<nav class="sheet-navigation tabs subtabs subdetails" data-group="subdetails">
  <a class="item active" data-tab="quick-info">{{localize "PF1.QuickInfo"}}</a>
  <a class="item" data-tab="classes">{{localize "PF1.ClassPlural"}}</a>
</nav>

<section class="subdetails-body">
  <div class="tab quick-info" data-group="subdetails" data-tab="quick-info">
    <div class="flexcol">
      {{!-- Roll Defenses --}}
      <li class="generic-defenses flexrow">
        <div class="rollable image-d20"></div>
        <label><h3>{{localize "PF1.Defenses"}}</h3></label>
      </li>

      {{!-- Row 1 - AC and BAB --}}
      <ul class="attributes armor-class flexrow">
        {{#each data.attributes.ac as |ac id|}}
        <li class="attribute armor-class tooltip" data-armorclass="{{id}}">
          <div class="tooltipcontent">
            @attributes.ac.{{id}}.total : {{ac.total}}
            
            {{#if ac.sourceDetails.length}}
            <br/><br/>{{localize "PF1.FromSources"}}:<br/>
            {{#each ac.sourceDetails as |src|}}
            {{src.name}}: {{src.value}}<br/>
            {{/each}}
            {{/if}}
          </div>
          <h4 class="attribute-name box-title">{{ac.label}}</h4>
          <div class="attribute-value">
            <span>{{numberFormat ac.total decimals=0 sign=false}}</span>
          </div>
        </li>
        {{/each}}

        {{!-- BAB --}}
        <li class="attribute bab" data-attribute="bab">
          <h4 class="attribute-name box-title rollable">{{localize "PF1.BABAbbr"}}</h4>
          <div class="attribute-value tooltip">
            <span>{{numberFormat data.attributes.bab.total decimals=0 sign=false}}</span>
            <span class="tooltipcontent">
              @attributes.bab.total : {{data.attributes.bab.total}}
              {{#if sourceDetails.data.attributes.bab.total.length}}
              <br/><br/>{{localize "PF1.FromSources"}}:<br/>
              {{#each sourceDetails.data.attributes.bab.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
              {{/if}}
            </span>
          </div>
        </li>
      </ul>

      {{!-- Row 2 - Saving Throws and CMB --}}
      <ul class="attributes saving-throws flexrow">
        {{#each data.attributes.savingThrows as |savingThrow id|}}
        <li class="attribute saving-throw tooltip" data-savingthrow="{{id}}">
          <div class="tooltipcontent">
            @attributes.savingThrows.{{id}}.total : {{savingThrow.total}}
      
            {{#if savingThrow.sourceDetails.length}}
            <br/><br/>{{localize "PF1.FromSources"}}:<br/>
            {{#each savingThrow.sourceDetails as |src|}}
            {{src.name}}: {{src.value}}<br/>
            {{/each}}
            {{/if}}
          </div>
          <h4 class="attribute-name box-title rollable">{{savingThrow.label}}</h4>
          <div class="attribute-value">
            <span>{{savingThrow.total}}</span>
          </div>
        </li>
        {{/each}}

        {{!-- CMB --}}
        <li class="attribute cmb" data-attribute="cmb">
          <h4 class="attribute-name box-title rollable">{{localize "PF1.CMBAbbr"}}</h4>
          <div class="attribute-value tooltip">
            <span>{{data.attributes.cmb.total}}</span>
            <span class="tooltipcontent">
              @attributes.cmb.total : {{data.attributes.cmb.total}}
              {{#if sourceDetails.data.attributes.cmb.total.length}}
              <br/><br/>{{localize "PF1.FromSources"}}:<br/>
              {{#each sourceDetails.data.attributes.cmb.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
              {{/if}}
            </span>
          </div>
        </li>
      </ul>
      
      {{!-- Row 3 - CMD, SR and Initiative --}}
      <ul class="attributes misc-defenses flexrow">
        <li class="attribute cmd tooltip" data-attribute="cmd">
          <div class="tooltipcontent">
            @attributes.cmd.total : {{data.attributes.cmd.total}}
            
            {{#if sourceDetails.data.attributes.cmd.total.length}}
            <br/><br/>{{localize "PF1.FromSources"}}:<br/>
            {{#each sourceDetails.data.attributes.cmd.total as |src|}}
            {{src.name}}: {{src.value}}<br/>
            {{/each}}
            {{/if}}
          </div>
          <h4 class="attribute-name box-title">{{localize "PF1.CMDAbbr"}}</h4>
          <div class="attribute-value">
            <span>{{data.attributes.cmd.total}}</span>
          </div>
        </li>
        
        <li class="attribute cmd-flat-footed tooltip" data-attribute="cmd-flat-footed">
          <div class="tooltipcontent">
            @attributes.cmd.flatFootedTotal : {{data.attributes.cmd.flatFootedTotal}}
            
            {{#if sourceDetails.data.attributes.cmd.flatFootedTotal.length}}
            <br/><br/>{{localize "PF1.FromSources"}}:<br/>
            {{#each sourceDetails.data.attributes.cmd.flatFootedTotal as |src|}}
            {{src.name}}: {{src.value}}<br/>
            {{/each}}
            {{/if}}
          </div>
          <h4 class="attribute-name box-title">{{localize "PF1.CMDFFAbbr"}}</h4>
          <div class="attribute-value">
            <span>{{data.attributes.cmd.flatFootedTotal}}</span>
          </div>
        </li>
        
        <li class="attribute sr tooltip" data-attribute="sr">
          <div class="tooltipcontent">
            @attributes.sr.total : {{data.attributes.sr.total}}
          </div>
          <h4 class="attribute-name box-title">{{localize "PF1.SpellResistance"}}</h4>
          <div class="attribute-value">
            <span>{{data.attributes.sr.total}}</span>
          </div>
        </li>

        {{!-- Initiative --}}
        <li class="attribute initiative" data-attribute="init">
          <h4 class="attribute-name box-title rollable">{{localize "PF1.Initiative"}}</h4>
          <div class="attribute-value tooltip">
            <span>{{data.attributes.init.total}}</span>
            <span class="tooltipcontent">
              @attributes.init.total : {{data.attributes.init.total}}
              {{#if sourceDetails.data.attributes.init.total.length}}
              <br/><br/>{{localize "PF1.FromSources"}}:<br/>
              {{#each sourceDetails.data.attributes.init.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
              {{/if}}
            </span>
          </div>
        </li>
      </ul>
    </div>

    {{!-- Quick Actions --}}
    <h2>{{localize "PF1.QuickActions"}}</h2>

    <ol class="quick-actions">
      {{#each quickActions as |i|}}
      <li class="item" data-item-id="{{i.item._id}}" data-type="{{i.item.type}}" style="border-color: {{i.color1}};" title="{{i.item.name}}">
        <img src="{{i.item.img}}">
        <span class="icon-label">{{i.item.name}}</span>
      </li>
      {{/each}}
    </ol>
  </div>
  
  {{!-- Classes --}}
  <div class="tab classes-body" data-group="subdetails" data-tab="classes">
    <ol class="inventory-list">
      <li class="inventory-header flexrow">
        <h3 class="item-name flexrow"></h3>
        
        <div class="item-detail item-feat-level"><span>{{localize "PF1.Level"}}</span></div>
        
        {{#if owner}}
        <div class="item-controls">
          <a class="item-control item-create" title="Create Item" data-type="class">
            <i class="fas fa-plus"></i> {{localize "PF1.Add"}}
          </a>
        </div>
        {{/if}}
      </li>
      
      <ol class="item-list">
        {{#each classes as |item iid|}}
        <li class="item flexrow {{#unless isCharged}}uncharged{{/unless}}" data-item-id="{{item._id}}">
          <div class="item-name flexrow rollable">
            <div class="item-image" style="background-image: url({{item.img}})"></div>
            <h4>{{item.name}}</h4>
          </div>
          
          <div class="item-detail item-feat-level tooltip">
            <span>Level {{item.data.level}}</span>
            <span class="tooltipcontent">@classes.{{item.data.tag}}.level : {{item.data.level}}</span>
          </div>
          
          {{#if ../owner}}
          <div class="item-controls">
            <a class="item-control item-edit" title="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-duplicate" title="{{localize "PF1.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
            <a class="item-control item-delete" title="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
        </li>
        {{/each}}
      </ol>
    </ol>
  </div>
</section>
